Andrew Tridgell <andrew@tridgell.net> <tridge@samba.org>
Michael Schultheiss <schultmc@spi-inc.org> <schultmc@ivytech.edu>
Robert Brockway <robert@spi-inc.org> <robert@proxima.opentrend.net>
Valessio Brito <contato@valessiobrito.com.br>
