Andrew Tridgell <andrew@tridgell.net> <tridge@samba.org>
Michael Schultheiss <schultmc@spi-inc.org> <schultmc@ivytech.edu>
Robert Brockway <robert@spi-inc.org> <robert@proxima.opentrend.net>
Valessio Brito <contato@valessiobrito.com.br>
Martin Zobel-Helas <zobel@spi-inc.org> <zobel@debian.org>
Martin Zobel-Helas <zobel@spi-inc.org> <zobel@ftbfs.de>
Tim Potter <tpot@spi-inc.org> <tpot@booleancandy.com.au>
Tim Potter <tpot@spi-inc.org> <tim.potter@viasat.com>
