/* ikiwiki local style sheet */

/* Add local styling here, instead of modifying style.css. */

a {
	text-decoration: none;
	color: #005a9c;
}

a:hover {
	text-decoration: underline;
}


hr {
	border-style: none;
	background-color: #999;
	height: 1px;
}

code, pre {
    background: #eee;
}

pre {
    padding: .5em;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	color: black;
	background: white;
}

.pageheader {
	margin: 0;
	padding: 1em 2em 0 2em;
	background: #eee;
	border-color: #999;
	border-style: none none solid none;
	border-width: 1px;
}

.header {
	font-size: 100%;
	font-weight: normal;
}

.title {
	display: block;
	margin-top: .2em;
	font: 140% sans-serif;
	text-transform: capitalize;
}

.actions {
	text-align: right;
	padding: 0;
}

#content, #comments, #footer {
  	margin: 1em 2em;
}

#pageinfo {
	border-color: #999;
}

.inlinepage {
	margin: .4em 0;
	padding: .4em 0;
	border-style: none;
	border-top: 1px solid #aaa;
}

.inlineheader {
	font-size: 120%;
	font-weight: normal;
}

h1 { font: 120% sans-serif }
h2 { font: bold 100% sans-serif }
h3 { font: italic 100% sans-serif }
h4, h5, h6 { font: small-caps 100% sans-serif }

/* Smaller headings for inline pages */
.inlinepage h1 { font-size: 110% }
.inlinepage h2 { font-size: 100% }
.inlinepage h3 { font-size: 100% }

.pageheader .actions ul {
	border-style: none
}

.actions ul {
	font-size: 75%;
	padding: 0;
	border-style: none;
}

.actions ul li a {
	text-decoration: none;
}

.actions ul li {
	margin: 0;
	padding: .1em .5em 0 .5em;
	background: white;
	border-color: #999;
	border-style: solid solid none solid;
	border-width: 1px;
}

div.recentchanges {
	border-style: none;
}

.pagecloud {
	width: auto;
}
